# SPDX-FileCopyrightText: 2021-2022 Daniel Valcour <fossweeper@gmail.com>
#
# SPDX-License-Identifier: MIT

Language: Cpp
BasedOnStyle: Google
IndentPPDirectives: AfterHash
BreakConstructorInitializers: BeforeComma
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: false
DerivePointerAlignment: false
TabWidth: '4'
UseTab: Never
BreakBeforeBraces: Allman
NamespaceIndentation: All
ColumnLimit: 100
SortIncludes: false
